<%= link_to "Back", events_path, class: "back-link"%>

<h3>Artists</h3>

<table>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.nationality %></td>
        <td><%= artist.delegation %></td>
      </tr>
    <% end %>
  </tbody>
</table>