#artists {
	background: #536976;
	background: -webkit-linear-gradient(to right, #292E49, #536976);
	background: linear-gradient(to right, #292E49, #536976);

	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	color: white;

	a,
	li { margin: .5em 0 }
}

#ShowArtists {
	background: #536976;
	background: -webkit-linear-gradient(to right, #292E49, #536976);
	background: linear-gradient(to right, #292E49, #536976);

	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	color: white;

	a,
	h3,
	p {
		margin: .5em 0;
	}
}