<div id="showEvents">
	<%= link_to "Voltar", events_path%>

	<h2><%= @event.edition %></h2>

	<main>
		<h3>729 artistas </h3>
		<h3>1.854 obras </h3>
		<h3>Distribuição por gênero: </h3>
		<img src="https://media.discordapp.net/attachments/768553883265531957/781997706771693648/hackaton_mulheres_e_homens_brasil_por_sexo_I_Bienal_de_SP_1.png?width=791&height=475" class="figure-img img-fluid rounded" alt="gráfico por gênero">

		<h3>Distribuição por raça: </h3>
		<i>Em etapa de consolidação.</i>

		<h3>25 delegações</h3>
		<ul>
			<li>Argentina</li>
			<li>Bélgica</li>
			<li><%= link_to "Brasil", event_artists_path(@event) %></li>
			<li>Bolívia</li>
			<li>Canadá</li>
			<li>Chile</li>
			<li>Cuba</li>
			<li>Estados Unidos</li>
			<li>França</li>
			<li>Haiti</li>
			<li>Holanda</li>
			<li>Itália</li>
			<li>Japão</li>
			<li>Suíça</li>
			<li>Reino Unido</li>
			<li>Uruguai</li>
		</ul>
	</main>

</div>
