<div id="showEvents">
	<%= link_to "Voltar", events_path%>

	<h2><%= @event.edition %></h2>

	<main>
		<h3>Artistas: </h3>
		<h3>Obras: </h3>
		<h3>Distribuição por gênero: </h3>
		<h3>Distribuição por raça: </h3>
		<h3>Delegações: 19</h3>
		<ul>
			<li>Argentina</li>
			<li>Bélgica</li>
			<li><%= link_to "Brasil", event_artists_path(@event) %></li>
			<li>Bolívia</li>
			<li>Canadá</li>
			<li>Chile</li>
			<li>Cuba</li>
			<li>Estados Unidos</li>
			<li>França</li>
			<li>Haiti</li>
			<li>Holanda</li>
			<li>Itália</li>
			<li>Japão</li>
			<li>Suíça</li>
			<li>Reino Unido</li>
			<li>Uruguai</li>
		</ul>
	</main>

</div>
