<div id="home" >

  <main class="wrapper" >  
    
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/">Sobre</a>
        <a href="/">Contato</a>
      </nav>
      <img src="<%= asset_path( 'logo.png' ) %>" />
    </header>

    <nav>
      <a href="map"> Bienais </a>
      <a href=""> Exposições </a>
      <a href=""> Salões </a>
      <a href=""> Eventos </a>
      <a href=""> Feiras </a>
    </nav>
    
    <div class="buttonsOutSide" >
      <a href=""> Quero convergir </a>
      <a href="" id="moveDowm" > <img src="https://img.icons8.com/fluent-systems-regular/2x/low-importance.png"/> </a>
      <a href=""> Quero conversas </a>
    </div>
  </main>

</div>