<div id="home" >

  <main class="wrapper" >  
    
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/">Sobre</a>
        <a href="/">Contato</a>
      </nav>
      <img src="<%= asset_path( 'logo.png' ) %>" />
    </header>

    <nav>
      <a href="map"> Bienais </a>
      <a href=""> Exposições </a>
      <a href=""> Salões </a>
      <a href=""> Eventos </a>
      <a href=""> Feiras </a>
    </nav>
    
    <div class="buttonsOutSide" >
      <a href=""> Quero convergir </a>
      <a href="" id="moveDowm" > <img src="https://img.icons8.com/fluent-systems-regular/2x/low-importance.png"/> </a>
      <a href=""> Quero conversas </a>
    </div>
  </main>

</div>

<!-- other section with 100vh -->
<div id="about"></div>

<!-- other section with 100vh -->
<div id="contactUs"></div>

<!-- other section with 100vh -->
<div id="login">
  <div class="header">
    <img src="<%= asset_path( 'logo.png' ) %>" />
    <a href="/">Login</a>
  </div>
  <form action="/">
    <h1>Cadastro</h1>
    <div class="inputBlock">
      <label for="fullName">Nome Completo</label>
      <input placeholder="Reginaldo da Cruz" type="text" name="fullName" id="fullName" />
    </div>

    <div class="inputBlock">
      <label for="email">Email</label>
      <input placeholder="email@dominio.com" type="email" name="email" id="email" />
    </div>

    <div class="inputBlock">
      <label for="pass">Senha</label>
      <input placeholder="**********" type="password" name="pass" id="pass" />
    </div>

    <button>Começar</button>
  </form>
</div>