<div id="bienais" >

  <h1>Bienais</h1>
  <a href="/"> Voltar para a página inicial </a>
  <div id="map"></div>


  <!-- <script type="text/javascript" src="../js/listBienaisOfMap.js" ></script> -->
  <%= javascript_pack_tag 'listMap', 'data-turbolinks-track': 'reload', defer: true %>

</div>